:root {
  --main-color:rgb(235,83,44);
  --black-color:#000;
  --section-margin:25px 0px;
  --cart-description-color:rgb(197,197,197);
  --overlay:rgb(183,147,48);
  --read-more:rgb(93,178,171);
  --connect-us:rgb(236,193,85);
  --footer-icon-color:rgb(238,134,116);
  --primary-font:"Times New Roman", Times, serif;
}